*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.text-pink-one{
    color: #ff4f93;
}

.text-pink-two{
    color: #ff2d82;
}

.text-three{
    color: #FFEABD;
}

.text-yellow{
    color: yellow;
}

.bg-pink-one{
    background-color: #ff4f93;
}

.bg-pink-two{
    background-color: #ff2d82;
}


/* Header */
.header {
    transition: all 0.5s;
    padding: 5px 0;
}
.header-scrolled {
    background-color: #ff2d82;
    box-shadow: 0px 2px 20px rgb(255 45 130 / 10%);
}

@media (max-width: 990px){
    .navbar-collapse{
        background-color: #ff2d82 !important;
        text-align: center;
        padding: 3rem;
    }
}

.nav-link.active{
    text-decoration: underline;
}


.search-box{
    position: relative;
}

.search-box input{
    width: 100%;
    padding: 12px 45px 12px 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.search-box i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}