*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.text-pink-one{
    color: #ff4f93;
}

.text-pink-two{
    color: #ff2d82;
}

.text-three{
    color: #FFEABD;
}

.text-yellow{
    color: yellow;
}

.bg-pink-one{
    background-color: #ff4f93;
}

.bg-pink-two{
    background-color: #ff2d82;
}


/* Header */
.header {
    transition: all 0.5s;
    padding: 5px 0;
}
.header-scrolled {
    background-color: #ff2d82;
    box-shadow: 0px 2px 20px rgb(255 45 130 / 10%);
}

@media (max-width: 990px){
    .navbar-collapse{
        background-color: #ff2d82 !important;
        text-align: center;
        padding: 3rem;
    }
}

.nav-link.active{
    text-decoration: underline;
}


.search-box{
    position: relative;
}

.search-box input{
    width: 100%;
    padding: 12px 45px 12px 15px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.search-box i{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}


/*Hero*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(../img/image-hero.png) center center no-repeat;
    background-size: cover;
}

.font-one{
    font-size: 4rem;
}

.sub-title{
    background-color: rgba(255, 255, 255, 0.4);
}

.btn-one{
    transition: all .3s ease;
}


.btn-one:hover{
    background-color: #ff2d82;
    transform: translateY(-2px);
}

.btn-one i{
    display: inline-block;
    margin-left: 8px;
    transition: transform .3s ease;
}

.btn-one:hover i{
    transform: translateX(6px);
}

.btn-two{
    transition: all .3s ease;
}


.btn-two:hover{
    background-color: hsl(337, 100%, 65%) !important;
    color: white !important;
    transform: translateY(-2px);
}


/* SERVICES */
.services{
    margin-top: -50px;
}

.icon-services{
    font-size: 48px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.icon-services:hover {
  text-shadow: hsl(337, 100%, 65%) 0 0 12px;
}



@media (max-width: 992px){
    .hero {
        width: 100%;
        height: 100vh;
        background: url(./image-hero.png) center center no-repeat;
        background-size: cover;
        text-align: center;
    }

    .services{
        margin-top: -120px;
    }
}

/* Responsive navbar, hero, services */
@media (max-width: 576px){
    .hero {
        width: 100%;
        height: 100vh;
        background: url(./image-hero.png) center left no-repeat;
        background-size: cover;
        padding-top: 3rem;
        text-align: center;
    }

    .services{
        margin-top: 0;
    }

    .card-1{
        justify-content: center;
    }
}

/* Offer Section*/
.off {
    background-image: url(../img/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .btn-light:hover{
    
        background:#ffd9e8;
        
        }
    
    /* Secure Payments*/
    
    .card-body i{
    color:#ff4f93;
    }
    
    .shadow-sm{
    transition:.3s;
    }
    
    .shadow-sm:hover{
    transform:translateY(-8px);
    }

    /*--------- Why Us --------*/

.why-card{
    transition:.4s;
    cursor:pointer;
    transform:scale(.9);
    background:#fff9fd;
    }
    
    .why-card.active{
    transform:scale(1.1);
    background:#ffe4ef;
    }
    
    .why-card:hover{
    transform:scale(1.1);
    background:#ffe4ef;
    box-shadow:0 .8rem 2rem rgba(255,79,147,.25)!important;
    }
    
    .why-card.active:hover{
    transform:scale(1.1);
    }
    
    .why-card .btn{
    background:#ff4f93;
    border:none;
    }
    
    .why-card .btn:hover{
    background:#ff2f82;
    }

    /*------ Instagram Gallary -------*/

.gallery-item{
    cursor:pointer;
    }
    
    .gallery-item img{
    aspect-ratio:1/1;
    object-fit:cover;
    transition:.4s;
    }
    
    .overlay{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,79,147,.65);
    color:#fff;
    opacity:0;
    transition:.4s;
    }
    
    .gallery-item:hover img{
    transform:scale(1.1);
    }
    
    .gallery-item:hover .overlay{
    opacity:1;
    }

    /* --------- Contact ------------ */

#contact{
    background:#fff7fb;
    }
    
    .form-control{
    border:2px solid #ffd3e4;
    }
    
    .form-control:focus{
    
    border-color:#ff4f93;
    
    box-shadow:0 0 0 .2rem rgba(187, 169, 176, 0.2);
    
    }
    
    .btn-danger{
    
    background:#ff4f93;
    
    border:none;
    
    }
    
    .btn-danger:hover{
    
    background:#ff2d82;
    
    }
    
    .card{
    
    transition:.3s;
    
    }
    
    .card:hover{
    
    transform:translateY(-8px);
    
    }

    /* -------- Foteer --------*/

#footer{
    background-image: url(../img/IMG_20260710_014400_833.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    #footer a{
    text-decoration:none;
    color:#fff;
    transition:.3s;
    }
    
    #footer a:hover{
    color:#ffe5ef;
    }
    
    .social{
    width:48px;
    height:48px;
    background:rgba(255,255,255,.18);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    }
    
    .social:hover{
    background:#fff;
    color:#ff4f93!important;
    }
    
    #footer img{
    height:75px;
    object-fit:cover;
    }
    
    #footer .form-control{
    border-radius:50px 0 0 50px;
    }
    
    #footer .btn{
    border-radius:0 50px 50px 0;
    }
